<h1>コメント数ランキング</h1>
<% if @posts.present? %>
  <% @posts.each_with_index do |post,index| %>
     <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">投稿日：<%= simple_time(post.created_at) %></span>
        </div>
        <div class="titleinpicture">
           <% if post.image? %>
        　　<%= link_to image_tag(post.image.thumb.url, :class => "img-responsive center-block"), post %>
        　<% else %>
        　　<%= image_tag 'noimage.jpg',:size =>'240x240',:class => "img-responsive center-block"%>
        　<% end %>
          <p class="animated"><%= post.title %></p>
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: "投稿を削除してもよろしいですか?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
          <%= link_to post, method: :get do %>
            <div class="panel-footer">
            <p class="text-center"><%= index+1 %>位: <%= @ranking_counts[post.id] %> コメント</p>
          <% end %>  
              
            </div>
          
        </div>
      </div>
    </li>
  <% end %>
<% end %>  
