<% posts.each do |post| %>
     <div id=wrapper class="col-lg-4 col-sm-6 col-xs-12">
        <div class="username">
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">投稿日：<%= simple_time(post.created_at) %></span>
        </div> 
        <div class="titleinpicture">
           <% if post.image? %>
        <%= link_to image_tag(post.image.thumb.url,:class => "img-responsive center-block" ), post%>
         <% else %>
          <%= link_to image_tag('noimage.jpg',:size =>'240x240',:class => "img-responsive center-block"), post %>
         <% end %>
          <p class="animated"><%= post.title %></p>
        </div>
    </div>
  <% end %>
  <%= paginate posts %>
